.header {
    height: 100%;
    width: 100%;
    background: #0081ED url(../images/skin-blue/tittle_targe.png) no-repeat;
    .left-icon {
        display: block;
        float: left;
        height: 100%;
        //width: 150px;
        //background: purple;
        overflow: hidden;
        cursor: pointer;
        padding: 6px 0 0 30px;
        .header-logo {

        }
    }
    .right-toolbar {
        display: block;
        float: right;
        height: 100%;
        //width: 150px;
        //background: purple;
        line-height: 2.5;
        .right-toolbar-item {
            display: block;
            float: left;
            color: #fff;
            font-size: .8rem;
            height: 100%;
            background: url(../images/skin-blue/separation_line_tittle_targe.png) no-repeat;
            //border-left: 1px solid #fff;
            padding: 0 15px;
            cursor: pointer;
            img {
                width: 19px;
                height: 23px;
                margin-right: 5px;
            }
        }
    }
}