.common-list{
  overflow: hidden;
}
.common-list-group{
  display: block;
  float: left;
  width: 33.333%;
  border: 1px solid red;
  .common-list-group-img{
    img{
      width: 42px;
      height: 42px;
    }
  }
  .common-list-group-text{

  }
}